# Flutter / Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/
pubspec.lock
*.iml
.metadata

# Android
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/flutter_export_environment.sh
ios/Runner/GeneratedPluginRegistrant.*
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
